.logo {
  display: inline-block;
  font-family: var(--font-family);
}

.logo--center {
  text-align: center;
}

.logo--left {
  text-align: left;
}

.logo__img {
  display: block;
  height: 300px;
  width: 100%;
}

.logo--large .logo__img {
  max-width: 437px;
}

.logo--small .logo__img {
  max-width: 130px;
}

@media (max-width: 640px) {
  .logo--large .logo__img {
    max-width: 306px;
    height: auto;
  }

  .logo--small .logo__img {
    max-width: 110px;
    height: auto;
  }
}